[package]
name = "app-libs"
version = "0.0.0"
edition = "2021"
authors = ["Tnze"]
license = "AGPL"

[dependencies]
ffxiv-crafting = { version = '7.0.5', features = ["serde-support"] }
serde = { version = "1.0", features = ["derive"] }
micro_ndarray = "0.6"
rand = "0.8.5"

raphael-solvers = { git = "https://github.com/KonaeAkira/raphael-rs.git", package="solvers" }
raphael-simulator = { git = "https://github.com/KonaeAkira/raphael-rs.git", package="simulator" }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
num_cpus = "1.16.0"
