name: "deploy"
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish-web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: setup node
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - run: corepack enable
    - name: install Rust nightly
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: nightly
    - name: install wasm-pack
      run:
        npm install -g wasm-pack
    - name: install app dependencies and build it
      run: yarn && yarn build-web
    # Run type check after the wasm package is built
    - name: run tsc
      run: yarn tsc --noEmit
    - name: upload files
      uses: actions/upload-artifact@v3
      with:
        name: bestcraft-dist
        path: dist/

  deploy-web:
    needs: publish-web
    runs-on: ubuntu-latest
    environment: SSH Deployer
    steps:
    - name: download files
      uses: actions/download-artifact@v3
      with:
        name: bestcraft-dist
    - name: ssh deploy
      uses: easingthemes/ssh-deploy@v5.1.0
      with:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        ARGS: "-rlzvc -i"
        SOURCE: "./"
        REMOTE_HOST: ${{ vars.REMOTE_HOST }}
        REMOTE_USER: ${{ vars.REMOTE_USER }}
        TARGET: ${{ vars.TARGET }}
