name: "publish"
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04, windows-latest]
    environment: UpdaterSigner
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'pnpm'
    - run: corepack enable
    - name: install Rust nightly
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: nightly
    - name: install dependencies (ubuntu only)
      if: matrix.platform == 'ubuntu-22.04'
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
    - name: install app dependencies and build it
      run: pnpm install
    - uses: tauri-apps/tauri-action@v0
      id: tauri_build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
        TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
      with:
        tagName: v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
        releaseName: "BestCraft v__VERSION__"
        releaseBody: "See the assets to download this version and install."

        releaseDraft: false
        prerelease: false
